@import url(colorMaster.css);
@import url(fontMaster.css);
@import url(animationMaster.css);

.CardProfile {
    position: relative;
    display: block;
    height: 35vh;
    min-height: 300px;
    max-height: 450px;
    overflow: hidden;
    text-decoration: none;
    border-radius: 5%;
    transition: 0.4s;
    cursor: pointer;
    background: var(--card-background);
}

.CardProfile-cover {
    width: 100%;
    height: auto;
}

.CardProfile-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; 
    background-color: var(--card-background);
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.CardProfile:hover .CardProfile-overlay {
    transform: translateY(0);
}

.CardProfile-header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: 30px 0 0 0;    
    background-color: var(--card-background);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}

.CardProfile-arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
    background: transparent;
}

.CardProfile-arc path {
    fill: var(--card-background);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}   

.CardProfile-thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;  
}

.minor-change {
    padding: 0%;
}