:root {
    --background-color: #efeeea;
    --navbar-background-color: #efeeea;
    --connect-button-gradient: linear-gradient(90deg, #0cccc0 6%, #fc00ff 100%);
    --menu-option-light: #4d4a4a;
    --menu-option-dark: #000000;
    --search-background: #fffefe;
    --card-background: #ffffff;
    --logo-color: #000000;
}